*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gill sans;
}
html,body{
    height: 100%;
    width: 100%;

}

#main{
    height: 100%;
    width: 100%;
  
}

#header{
    height: 15%;
    width: 100%;
   background-color: white;
    position: fixed;
    display: flex;
   align-items: center;
   justify-content: space-around;
}


.texts{
    /* margin: 10px; */
    color: rgb(0, 0, 93);
    display: flex;

}
.texts:hover{
        color: rgb(0, 234, 255);
}
#contact{
    /* margin-left: 10px; */
    font-weight: lighter;
    text-align: center;
}

.icon{
    /* margin-left: 20px; */
    
    padding: 10px;
    border-radius: 50%;
}

.icon:hover{
    background-color: lightblue;
}

#login{
    display: flex;
    padding:10px ;
    border-radius: 50px;
}
#login:hover{
        background-color: lightblue;
}

#try{
    /* margin-left: 20px; */
    padding: 6px;
    background-color: rgb(36, 151, 36);
    border-radius: 5px;
    color: white;
}
#try:hover{
    background-color: rgb(42, 81, 42);
}

#fakeHeader{
     height: 15%;
    width: 100%;
}

#page1{
    height: 85%;
    width: 100%;
    
}

#strip{
    width: 100%;
    height: 10%;
    background-color: rgb(0, 0, 131);
    color: white;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
}

#strip p{
    font-size: smaller;
}

#strip u{
    margin-left: 20px;
}

#content{
    width: 100%;
    height: 76%;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1{
    height: 90%;
    width: 47%;
    background-color: white;
    margin: 10px;
}

#box2{
    height: 90%;
    width: 47%;
    background-color: white;
    margin: 10px;
}


#heading{
    width: 100%;
    height: 16%;
    background-color: aquamarine;
    display: flex;
    align-items: center;
   justify-content: center;
   color: rgb(5, 5, 112);
}

#heading h1{
    font-weight: 600;
}

#box1 h1{
    color: rgb(3, 3, 98);
    margin: 10px;
}

#box1 p{
    margin: 10px;
}
#btns{
    display: flex;
}

#btns1{
    text-align: center;
    margin: 10px;
    width: 35%;

    padding: 10px 20px;
    color: white;
    background-color: rgb(7, 168, 222);
    border-radius: 5px;
}

#btns1:hover{
    background-color:rgb(3, 54, 70) ;
}

#btns2{
    text-align: center;
    margin: 10px;
    width: 35%;
    padding: 10px 20px;
    color: lightblue;
    background-color: rgb(60, 115, 134);
    border-radius: 5px;
}
#btns2:hover{
    background-color: lightblue;
    color: rgb(0, 67, 90);
    border-color:rgb(0, 67, 90) ;
}
#page2{
    height: 87%;
    width: 100%;
    background-color: darkgray;
}

